<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
		<string>NotoSansKR-Regular.ttf</string>
		<string>NotoSans-Black.ttf</string>
		<string>SF-Compact-Text-Medium.otf</string>
		<string>SF-Compact-Text-Regular.otf</string>
		<string>SF-Compact-Text-Light.otf</string>
		<string>SF-Compact-Text-Semibold.otf</string>
		<string>SF-Pro-Text-Black.otf</string>
		<string>SF-Pro-Text-Heavy.otf</string>
	</array>
</dict>
</plist>
