<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
		<string>SF-Pro-Text-HeavyItalic.otf</string>
		<string>NotoSansKR-Regular.ttf</string>
		<string>SF-Pro-Text-BlackItalic.otf</string>
		<string>SF-Compact-Text-SemiboldItalic.otf</string>
		<string>SF-Compact-Text-LightItalic.otf</string>
		<string>SF-Compact-Text-Medium.otf</string>
		<string>SF-Compact-Text-Regular.otf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array/>
	<key>WKBackgroundModes</key>
	<array>
		<string>workout-processing</string>
	</array>
</dict>
</plist>
