<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>내 위치 확인을 위해 권한을 요청합니다.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>내 위치 확인을 위해 권한을 요청합니다.</string>
	<key>UIAppFonts</key>
	<array>
		<string>NotoSans-Black.ttf</string>
		<string>NotoSans-BlackItalic.ttf</string>
		<string>NotoSans-Regular.ttf</string>
		<string>SF-Compact-Text-LightItalic.otf</string>
		<string>SF-Compact-Text-Medium.otf</string>
		<string>SF-Compact-Text-Regular.otf</string>
		<string>SF-Compact-Text-SemiboldItalic.otf</string>
		<string>SF-Pro-Text-BlackItalic.otf</string>
		<string>SF-Pro-Text-HeavyItalic.otf</string>
		<string>SF-Pro-Text-LightItalic.otf</string>
		<string>SF-Pro-Text-RegularItalic.otf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>location</string>
	</array>
	<key>WKBackgroundModes</key>
	<array>
		<string>workout-processing</string>
	</array>
</dict>
</plist>
